In [2]:
# Input
nama = input("Masukan Nama: ")
nim = input("Masukan NIM: ")
kelas = input("Masukan Kelas: ")

# Output
print("Nama: ", nama)
print("NIM: ", nim)
print("kelas: ", kelas)

Masukan Nama: Rasya maulana Syafiq
Masukan NIM: 24110310067
Masukan Kelas: Bisnis Digital 2A
Nama:  Rasya maulana Syafiq
NIM:  24110310067
kelas:  Bisnis Digital 2A